.kom {
    color: green;
}

.disclaimer {
    color: red;
}

.fotka {
    height: 60%;
    width: 60%;
}

/* .warrior {
    width: 50%;
    background-image: url("C:/Users/mtszr/OneDrive/Desktop/vite-project/Steele/RPGimg/Warrior.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
} */

/* .rogue {
    width: 50%;
    background-image: url("C:/Users/mtszr/OneDrive/Desktop/vite-project/Steele/RPGimg/Rogue.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
} */
